.card {
  width: 250px;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.resource-card__image {
  width: 60px;
  height: 60px;
  margin-top: 15px;
}

.resource-card__title {
  position: absolute;
  top: 0;
}

.resource-card__type {
  margin: 0 !important;
}

.actions {
  padding-top: 0 !important;
}

.resource-card__button {
  background-color: #2196F3 !important;
  color: white !important;
}