.timeline {
  width: 100%;
  position: absolute;
  top: 0;
}

.timeline__responsible, .timeline__end-phase {
  margin: 2px !important;
}

.timeline__dialog, .MuiBackdrop-root-171 {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.timeline__add-responsible, .timeline__menu {
  width: 200px;
}