.project-card {
  width: 250px;
  height: 190px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.media {
  height: 0;
  padding-top: 56.25%;
  background-size: contain;
}

.actions {
  display: flex;
  position: absolute;
  bottom: 0;
}

.project-card__title {
  position: absolute;
  top: 0;
}

.project-card__button {
  background-color: #2196F3 !important;
  color: white !important;
  margin: 5px !important;
}

.project-card__labels {
  margin: 5px;
}

.project-card__labels-container {
  position: absolute;
  top: 95px;
}